/* colour styles  */

h1 {
    color: #FF5629;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 0;
}

a {
    color: #FF5629;
    font-weight: bold;
}

body {
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    background-color: #F0F1F2;
    color: #232625;
    max-height: 100vh;

/* grid styles  */
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
        "nav nav nav"
        "aside title img"
        "aside skills img"
        "aside projects img";
    justify-content: center;
    align-items: end;
}

nav {
    grid-area: nav;
    align-self: center;
    justify-self: center;
    top: 0;
}

aside {
   grid-area: aside; 
   align-self: end;
    justify-self: center;
    
}

.title-about{
    grid-area: title;
    align-self: end;
    justify-self: center;
    text-align: center;
    float: right;
}

img {
    grid-area: img;
    /* max-width: 400px; */
    max-width: 600px;
    align-self: center;
    justify-self: center;
}

.skills{
    grid-area: skills;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.projects {
    grid-area: projects;
    align-self: center;
    justify-self: center;
    text-align: center;
}


.skills-logos img {
    max-width: 40px;
}

.skills-logos img {
    padding: 1rem;
}

/* nav styling  */

ul {
    list-style: none;
}

li {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
}


ion-icon{
    height: 50px;
    width: 30px;
    margin-left:0;
    color: #647362;
}

.project-links li {
    display: inline-block;
    padding-top: 1rem;
    text-align: center;
}


@media only screen and (max-width: 780px) {
    body{
        grid-template-rows: repeat(6 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav"
            "title"
            "img"
            "skills"
            "projects"
            "aside";   
    }


}



   



